@import "../components/mdl-react.css";

@import "../story/components/_menu.css";
@import "../characters/components/_filter.css";
@import "../characters/components/_character-profile.css";
@import "../characters/components/_character-section.css";
@import "../characters/components/_character-group.css";
@import "../characters/components/_character-list.css";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body, #root, #app {
    -webkit-user-select: none;
    cursor: default;
    height: 100%;
    width: 100%;
}

.marginTransition {
    -webkit-transition: margin 1s;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2D0444;
    border-radius: 4px;
}

div:hover::-webkit-scrollbar-thumb {
    background-color: #2D0444;
}

.mdl-layout__content {
    height: 100vh;
    overflow: hidden;
}